<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.evercam.connect"
    android:versionCode="31"
    android:versionName="1.3.0" >

    <!-- Recent Release History -->
    
    <!-- 29/05/2014  version16 - 1.1.5  Update wrapper dependency and demo camera -->
    <!-- 05/06/2014  version17 - 1.1.6  Welcome slides -->
    <!-- 11/06/2014  version18 - 1.1.7  Remove camera default requests from SimpleDB -->
    <!-- 20/06/2014  version19 - 1.1.8  VLC integration, user profile auto fill -->
    <!-- 23/06/2014  version20 - 1.1.9  Order device list -->
    <!-- 25/06/2014  version21 - 1.2.0  Forename to Firstname -->
    <!-- 10/07/2014  version22 - 1.2.1  Google Analytics -->
    <!-- 16/07/2014  version23 - 1.2.2  New Camera Model -->
    <!-- 21/07/2014  version24 - 1.2.3  Location Data -->
    <!-- 06/08/2014  version25 - 1.2.4  Sign in with Email -->
    <!-- 17/09/2014  version26 - 1.2.5  Vendor model changes -->
    <!-- 24/10/2014  version27 - 1.2.6  Network scan library changes, thumbnail from Cambase-->
    <!-- 07/11/2014  version28 - 1.2.7  Fix thumbnail overlay-->
    <!-- 10/11/2014  version29 - 1.2.8  Remove AWS key-->
    <!--  version30 - 1.2.9  API Naming changes update-->
    <!-- 20/02/2015  version31 - 1.3.0  fix null auth crash-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    
    <!-- Only used for auto filling user's profile when create account -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>

    <application
        android:name="EvercamDiscover"
        android:allowBackup="true"
        android:icon="@drawable/discover_icon_192x192"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="io.evercam.connect.DiscoverMainActivity"
            android:icon="@drawable/discover_icon_192x192"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="io.evercam.connect.SlideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
                <activity
            android:name="io.evercam.connect.VideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="unspecified" >
        </activity>
        <activity
            android:name="io.evercam.connect.RouterActivity"
            android:icon="@drawable/discover_icon_192x192"
            android:label="@string/title_activity_router">

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.evercam.connect.SettingsActivity" />
        </activity>
        <activity
            android:name="io.evercam.connect.CameraDetailActivity"
            android:icon="@drawable/discover_icon_192x192"
            android:label="@string/title_activity_camera_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="io.evercam.connect.MainTabActivity"
            android:label="@string/portForwarding"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="io.evercam.connect.signin.LoginActivity"
            android:icon="@drawable/icon_192x192"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="io.evercam.connect.SettingsActivity"
            android:icon="@drawable/discover_icon_192x192"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="io.evercam.connect.AddToEvercamActivity"
            android:label="@string/title_activity_add_to_evercam" >
        </activity>
        <activity
            android:name="io.evercam.connect.signin.SignUpActivity"
            android:label="@string/create_account"
            android:icon="@drawable/icon_192x192"
            android:windowSoftInputMode="stateHidden" >
        </activity>
    </application>

</manifest>